.clearfix{zoom: 1}
.clearfix:after{
  content:".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#wrap {
  width: 40%;
  margin: 0 auto;
  position: relative;
}
#main {
  color: #333333;
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0
}
.sel-row .sel-item {
  color: #4a92eb;
  border: 1px solid #4a92eb;
  border-radius: 2px;
  padding: 0px 5px;
  line-height: 30px;
  box-sizing: border-box;
  margin: 5px 5px 5px 0px;
  float: left;
}

.sel-row .sel-item.active {
  color: #fff;
  background-color: #4a92eb;
}

.btn-row {
  line-height: 40px;
  font-size: 16px;
  text-align: center;
}

.btn-row .small-btn {
  width: 30%;
  background-color: #f5f5f5;
  color: #b5b5b5;
  float: left;
  margin: 0px;
}

.btn-row .big-btn {
  width: 70%;
  background-color: #4a92eb;
  color: #fff;
  float: left;
  margin: 0px;
}